 <html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="footer" >
    <footer class="container d-flex justify-content-center mt-5 mb-3 text-muted" >
        <p>&copy; PlanExam 2023</p>
    </footer>

    <script src="/webjars/bootstrap/js/bootstrap.bundle.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"
            crossorigin="anonymous">
    </script>

<!--    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>-->
</div>
</body>
</html>
